USE [master]
GO
/****** Object:  Database [DapperMicOrm]    Script Date: 15.01.2019 18:04:35 ******/
CREATE DATABASE [DapperMicOrm]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'DapperMicOrm', FILENAME = N'C:\Users\huzur\DapperMicOrm.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'DapperMicOrm_log', FILENAME = N'C:\Users\huzur\DapperMicOrm_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [DapperMicOrm].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [DapperMicOrm]
GO
/****** Object:  Table [dbo].[OgrenciDersNot]    Script Date: 15.01.2019 18:04:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[OgrenciDersNot](
	[Id] [uniqueidentifier] NOT NULL,
	[OgrenciTanimId] [uniqueidentifier] NULL,
	[DersTanim] [nvarchar](50) NULL,
	[Not1] [decimal](18, 3) NULL,
	[Not2] [decimal](18, 3) NULL,
	[Not3] [decimal](18, 3) NULL,
	[AvgNote] [decimal](18, 3) NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[OgrenciTanim]    Script Date: 15.01.2019 18:04:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[OgrenciTanim](
	[Id] [uniqueidentifier] NOT NULL,
	[Name] [nvarchar](50) NULL,
	[Surname] [nvarchar](50) NULL,
	[Birthday] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
ALTER TABLE [dbo].[OgrenciDersNot]  WITH CHECK ADD FOREIGN KEY([OgrenciTanimId])
REFERENCES [dbo].[OgrenciTanim] ([Id])
GO
USE [master]
GO
